---
// No props needed for now - header is static
---

<div class="header">
  <div class="text-center margin-block-7">WIP 😅</div>
  <div class="even-columns banner banner-title">
    <div class="banner-author">
      <h1 class="heading-1">Alejandro Delgado</h1>
      <h2>Web Designer</h2>
    </div>
    <div class="banner-image">
      <img src="/images/aledesign-avatar.png" alt="an image of me on fire">
    </div>
  </div>
  <div class="banner-social">
    <a href="https://www.linkedin.com/in/alejandropdelgado/" target="_blank">
      <i class="fa-brands fa-linkedin-in fa-2x"></i>
    </a>
    <a href="https://github.com/alejandropd-1" target="_blank">
      <i class="fa-brands fa-github fa-2x"></i>
    </a>
    <a href="https://www.youtube.com/@alejandropd_1" target="_blank">
      <i class="fa-brands fa-youtube fa-2x"></i>
    </a>
    <a rel="me" href="https://mastodon.social/@alejandropd" target="_blank">
      <i class="fa-brands fa-mastodon fa-2x"></i>
    </a>
    <a href="https://bsky.app/profile/aledesign.dev" target="_blank">
      <i class="fa-brands fa-bluesky fa-2x"></i>
    </a>
  </div>
  <div class="banner-special-contact">
    <span>Tel: +541160513261</span> 
    <span>Mail: apdelgado@gmail.com</span>
  </div>
  <div class="banner-text-description">
    <h3 class="heading-3 margin-block-4">Hi everyone !</h3>
    <p>UX/UI designer with over 14 years in projects for the e-commerce, pharmaceutical and National industry.
      Skilled in using Figma, Adobe XD, HTML CSS, SASS and Javascript. Passionate about latest technological
      trends and web design.</p>
  </div>
</div>