@font-face {
  font-family: "Jost";
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");